.wrapper {
    
    background: #6296b9;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 40px 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }